DINO_DATA_ROOT=/path/to/dino_dataset_dir
DINO_UNLABELED_ROOT=/path/to/dino_unlabeled_dataset_dir
DINO_VIS_ROOT=/path/to/dino_visualisation_dataset_dir
RESUNET_DATA_ROOT=/path/to/resunet_dataset_dir
SEGMENTATION_DATA_ROOT=/path/to/segmentation_dataset_dir
